<!-- <div class="search-wrapper">
  <div class="search-container">
    <div class="search-icon-wrapper">
      <mat-icon>search</mat-icon>
    </div>
    <input 
      type="text" 
      placeholder="Search for books..."
      (input)="onSearch($event)"
      class="search-input"
    >
    <button 
      *ngIf="searchValue" 
      class="clear-button" 
      mat-icon-button 
      (click)="clearSearch()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>  -->

<div class="search-bar">
  <mat-icon>search</mat-icon>
  <input type="text" placeholder="Search book name, author, edition...">
  <div class="user-profile">
    <mat-icon>notifications_none</mat-icon>
  </div>
</div>